
/* General */
body {
  font-family : "Lucida Console", Monaco, monospace;
  color: #424242;
  max-width : 800px;
}

/*
Header
*/

.container{
    max-width : 800px;
    margin : 0 auto;/*make it centered*/
}

.header-logo {
	margin-right : 1em;
	vertical-align : middle;
	margin-top : 12px;
}

/* main body */

.main-image {
	border-top : 5px solid;
	border-color : #7d97ad;
	padding-top : 20px;
	padding-bottom : 20px;
	width: 100%;
}


.img-prj{
	width : 100%;
}


/** list of projects */

.title-work {
	color : #7d97ad;
	font-size: 2em;
}

.item-title {
	text-align : center;
	font-size : 2em;
	margin : 10px;
}

.item-url {
	font-size : 0.6em;
	text-align : center;
}

/** footer */
.footer {
	background : #061D25;
	padding : 10px 0;
}
.footer a {
	color : #70726F;
	font-size : 20px;
	padding : 10px;
	border-right : 1px solid #70726F;
	transition : all .5s ease;
}
.footer a:first-child {
	border-left : 1px solid #70726F;
}
.footer a:hover {
	color : white;
}