body {
  font-family : "Lucida Console", Monaco, monospace;
  color: #424242;
}

header, div {
  box-sizing : border-box;
}

/*
Header
*/

.header {
	display:  flex;
	flex-direction : row;
	min-height : 56px;
	justify-content : space-between;
	transition : min-height 0.3s;
	width : 100%;
	max-width : 800px;
}

.header> .left {
	width : 15%;
	padding : 20px;
}

.header__logo {
	height : 72px;
	margin-right : 1em;
	vertical-align : middle;
	margin-top : 12px;
}

.header__title {
	font-weight : 300;
	font-size : 3em;
	color : #212121;
	float : right;
	height : 70%;
	margin-top : 12px;
	margin-bottom : 0px;
	padding : 20px;
}

.header__subtitle {
	font-weight : 100;
	font-size : 1em;
	color : #212121;
	float : right;
	height : 30%;
	margin : 0px;
	padding-right : 20px;
}

.header> .flex-container_text {
	width : 85%;
	display : flex;
	flex-direction : column;
	justify-content : flex-start;
	text-align : right;
	vertical-align : middle;
	height : 100%;
}

/* main body */

.main__image {
	border-top : 5px solid;
	border-color : #7d97ad;
	padding-top : 20px;
	max-width : 800px;
}

.itemProject {
	float : left;
    width : 246px;
    margin : 10px;
	text-align : center;
}

.item__image {
	width : 246px;
}

.title2 {
	color : #7d97ad;
	font-size: 2em;
}

.itemTitle {
	font-size : 2em;
	margin : 10px;
}

.itemURL {
	font-size : 0.7em;
}