body {
  font-family : "Lucida Console", Monaco, monospace;
  color: #424242;
  max-width : 800px;
}

header, div {
  box-sizing : border-box;
}

/*
Header
*/

.container{
    max-width : 800px;
    margin : 0 auto;/*make it centered*/
}

.header__logo {
	height : 72px;
	margin-right : 1em;
	vertical-align : middle;
	margin-top : 12px;
}

/* main body */

.main__image {
	border-top : 5px solid;
	border-color : #7d97ad;
	padding-top : 20px;
	padding-bottom : 20px;
	width: 100%;
}

.itemProject {
    width : 246px;
    margin : 10px;
	text-align : center;
}

.img_prj{
	width : 100%;
}


.title2 {
	color : #7d97ad;
	font-size: 2em;
}

.itemTitle {
	text-align : center;
	font-size : 2em;
	margin : 10px;
}

.itemURL {
	font-size : 0.6em;
	text-align : center;
}

